.no-table-data {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 200px !important;

	& > img {
		width: 200px;
		height: 200px;
	}
}

.card-company-table {
	.react-dataTable {
		min-height: 300px !important;
	}
}